/*  CSS stylesheet  */

/*  style.css ~~
 *                                                      ~~ (c) SRW, 02 Dec 2011
 */

body {
    background-color: #CCCCCC;
    color: black;
    font-family: Georgia, serif;
    font-size: 12pt;
    margin: 1in;
    text-align: center;
}

a {
    border-bottom: 1px dotted;
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}

canvas {
    border: 1px solid black;
}

div {
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: justify;
}

figcaption {
    font-weight: bold;
}

figure {
    text-align: center;
}

figure img[src$=".png"] {
    background-color: white;
}

figure img[src$=".svg"] {
    background-color: white;
}

footer {}
header {}

iframe {
    height: 75%;
    width: 100%;
}

input[type="range"] {
    /* -webkit-appearance: slider-vertical; */
}

input[type="range"]:before {
    color: #808080;
    font-family: monospace;
    margin-left: -1em;
    position: absolute;
}

input[type="range"]:hover:before {
 /* NOTE: I need to contemplate using :active vs. :hover ... */
    color: black;
}

noscript {
    color: red;
    font-size: 200%;
    text-align: center;
}

pre {
    text-align: left;
}

textarea {
    font-family: Courier, monospace;
    font-size: 12pt;
    text-align: left;
}

#holder {
    border: 1px solid gray;
    margin: 1em auto;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#holder.hover {
 /* NOTE: This is not a true ":hover" pseudo-selector! */
    border: 1px solid black;
    -moz-box-shadow: 0px 0px 10px gray;
    -webkit-box-shadow: 0px 0px 10px gray;
    box-shadow: 0px 0px 10px gray;
}

#slider_a:before {
 /* This is the escape code for the "Greek small letter alpha" character. */
    content: "\0003b1";
}

#slider_b:before {
    content: "B";
}

#slider_e:before {
 /* This is the escape code for the "Greek small letter epsilon" character. */
    content: "\0003b5";
}

#slider_g:before {
    content: "G";
}

#slider_r:before {
    content: "R";
}

/*  vim:set syntax=css:  */
